$information-phone: "only screen and (max-width : 770px)";

$main-color: #103E66;
$secondary-color: #795E3A;

$black-color: #313C40;
$white-color: #ADBBBD;
$orange-color: #FFB239;

$main: #6EABA6;
$secondary: #F4F3BE;
$cancel: #666666;

#shotputter-id {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
}

.shotput-feedback-tab-container {
  position: fixed;
  font-family: Arial;

  .shotput-feedback-tab {
    cursor: pointer;
    padding: 5px 2px;
    border: 1px dotted black;
    background-color: white;
  }

  &.shotput-tab-top {
    top: 0;
    width:100%;
    .shotput-feedback-tab {
      display: inline-block;
      margin: 0 auto;
    }
  }

  &.shotput-tab-bottom {
    bottom: 0;
    width:100%;
    .shotput-feedback-tab {
      display: inline-block;
      margin: 0 auto;
    }
  }

  &.shotput-tab-left {
    left: 0;
    height:100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    .shotput-feedback-tab {
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &.shotput-tab-right {
    right: 0;
    height:100%;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    .shotput-feedback-tab {
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: inline-block;
      vertical-align: middle;
    }
  }

}

.shotput-modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}

.shotput-code {
  font-family: "Lucida Console";
  display: block;
  white-space: pre-wrap;
  text-align: left;
  padding: 5px;
  background-color: $black-color;
  color: $white-color;
  max-height: 200px;
  overflow-y: auto;
}

.shotput-loading-modal {
  word-break: break-word;
  z-index: 113;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .shotput-loading-modal {
      svg {
        width: 100%;
      }
  }
}

.shotput-editor-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
}

.shotput-editor-toolbar {
  font-family: Arial;
  text-align: center;
  z-index: 113;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  display:inline-block;
  padding: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media #{$information-phone} {
    width: 100%;
    padding: 1em 0;
    border-left: 0;
    border-right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .shotput-editor-toolbar-top {
    .shotput-sub-tools {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          padding-right: 1em;
          padding-left: 1em;
          border-right: 1px solid gray;
          cursor: pointer;
          &:last-child {
            padding-right: 0;
            border-right: none;
          }
          &:first-child {
            padding-left: 0;
          }
          &.shotput-disabled {
            cursor: inherit;
            opacity: .8;
          }
          &.shotput-active {
            font-weight: bolder;
          }
        }
      }
    }
  }

  .shotput-editor-toolbar-body {
    padding-top: 1em;
    padding-bottom: 1em;
    @media #{$information-phone} {
      padding-top: 0;
    }

    ul.shotput-editor-tools {
      list-style: none;
      padding: 0;
      margin: 0;
      display: block;

      li {
        display: inline-block;
        padding-right: 1em;
        padding-left: 1em;
        border-right: 1px solid gray;
        cursor: pointer;
        &.active {
          font-weight: bold;
        }

        &:last-child {
          padding-right: 0;
          border-right: none;
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }

    ul.shotput-editor-colors {
      list-style: none;
      margin-top: .5em;
      margin-bottom: .5em;
      padding: 0;
      display: block;

      li {
        display: inline-block;
        padding-right: 1em;
        padding-left: 1em;
        border-right: 1px solid gray;
        cursor: pointer;

        &:last-child {
          padding-right: 0;
          border-right: none;
        }
        &:first-child {
          padding-left: 0;
        }

        .shotput-list-color-block {
          width: 1.5em;
          height: 1.5em;

          @media #{$information-phone} {
            width: 5vw;
            height: 5vw;
          }
          display: inline-block;
          border: 1px dotted black;
          &.active {
            width: 2em;
            height: 2em;
          }
        }
      }
    }

    &.active {
      width: 2em;
      height: 2em;
    }
    .shotput-editor-comment-container {
      padding-top: 1em;

      textarea {
        width: calc(100% - 5px);
        border: none;
        padding: 5px;
        background-color: lighten($main, 20%);
        resize: none;
        &:focus {
          outline: none!important;
          border: 1px solid $main;
        }
      }
      @media #{$information-phone} {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  //.shotput-editor-toolbar-bottom {


  //}
}

.shotput-editor-button {
  padding: .5em;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;

  &.cancel-button {
    border: 1px solid $cancel;
    background-color: #fafafa;
    color: $cancel;
    margin-right: 1em;
    &:hover {
      background-color: #f3f3f3;
    }
  }

  &.submit-button {
    color: white;
    background-color: $main;
    &:hover {
      background-color: darken($main, 10%);
    }
  }
}

#shotput-canvas-container {
  position:absolute;
  z-index: 112;
  width: 100%;
  height: 100%;
}

.shotput-modal-box {
  font-family: Arial;
  background-color: #f1f1f1;
  max-width: 400px;
  padding: 1em;
  border-radius: 10px;
  z-index: 113;
  position: fixed;
  text-align: center;

  .shotput-poster-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;


    li {
      display: inline-block;
      cursor: pointer;
      padding-left: 1em;
      padding-right: 1em;
      border-right: 1px solid gray;
      &:last-child {
        padding-right: 0;
        border-right: none;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .shotput-bottom-buttons {

    text-align: right;
    margin-top: 1em;
    width: 100%;
    display:block;

    .shotput-bottom-button {
      display: inline-block;
      padding: .5em 1em;
      border: 1px solid black;
      border-radius: 10px;
      cursor: pointer;
      margin-left: 5px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.shotput-label {
  font-weight: bolder;
}

.shotput-field-container {
  margin-bottom: 1em;
  .react-tags__selected-tag {
    margin-top: 5px;
    border: 1px solid $cancel;
    background-color: #fafafa;
    color: $cancel;
    margin-right: 1em;
    cursor: pointer;
    &:after {
      color: $cancel;
      content: "\2A02";
      font-weight: bold;
      margin-left: 5px;
    }
  }
  select {
    width: 100%;
    padding: 2px 5px;
    margin: 2px -5px;
    border: none;
    background-color: lighten($main, 20%);
    border-bottom: 1px solid lighten($main, 20%);
  }
  input {
    width: 100% !important;
    border: none;
    padding: 2px 5px;
    margin: 2px -5px;
    background-color: lighten($main, 20%);
    border-bottom: 1px solid lighten($main, 20%);
    &:focus {
      outline: none !important;
      border-bottom: 1px solid $main;
    }
  }
}

.shotput-field-error {
  color: red;
}

.shotput-left-align {
  text-align: left;
}

.shotput-error-modal {
  text-align: left;
  background-color: antiquewhite;
  box-shadow: -.5em -.5em 5px black;
  max-height: 80vh;
  overflow-y: auto;

  h2 {
    letter-spacing: .1em;
  }

  .shotput-error-contents {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .shotput-error-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}


.shotput-button {
  padding: .5em 1em;
  border: 1px solid;
  border-radius: 3px;
  &.main-color {
    background-color: $main-color;
    border-color: darken($main-color, 10%);
    color: ghostwhite;
    &:hover {
      cursor: pointer;
      background-color: lighten($main-color, 5%);
      border-color: $main-color;
    }
  }
  &.secondary-color {
    background-color: $secondary-color;
    border-color: darken($secondary-color, 10%);
    color: ghostwhite;
    &:hover {
      cursor: pointer;
      background-color: lighten($secondary-color, 5%);
      border-color: $secondary-color;
    }
  }
}

.shotput-success-modal {
  font-family: Arial;
  word-break: break-word;
  background-color: #A1DED6;
  max-height: 80vh;
  overflow-y: auto;
  h2 {
    letter-spacing: .2em;
  }
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .shotput-success-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}


.shotput-slack-modal {
  font-family: Arial;
  h3 {
    text-align: left;
  }
  .shotput-label {
    text-align: left;
  }
}

.shotput-tabs {
  .shotput-tab-bar {
    padding-left: 0;
    list-style: none;
    .shotput-tab {
      display: inline-block;
      margin-left: 5px;
      padding-left: 5px;
      border-left: 1px solid black;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
      }

      &.shotput-is-active {
        color: $orange-color;
        font-weight: bold;
      }
    }
  }
  .shotput-tab-contents {
    margin-top: 3px;
  }
}

.shotput-download-link {
  color: black;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.shotput-title {
  text-align: left;

}
