#shotputter-id {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
}

.shotput-feedback-tab-container {
  position: fixed;

  .shotput-feedback-tab {
    cursor: pointer;
    padding: 5px 2px;
    border: 1px dotted black;
    background-color: white;
  }

  &.shotput-tab-top {
    top: 0;
    width:100%;
    .shotput-feedback-tab {
      display: inline-block;
      margin: 0 auto;
    }
  }

  &.shotput-tab-bottom {
    bottom: 0;
    width:100%;
    .shotput-feedback-tab {
      display: inline-block;
      margin: 0 auto;
    }
  }

  &.shotput-tab-left {
    left: 0;
    height:100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    .shotput-feedback-tab {
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &.shotput-tab-right {
    right: 0;
    height:100%;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    .shotput-feedback-tab {
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: inline-block;
      vertical-align: middle;
    }
  }

}

.shotput-modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}

.shotput-loading-modal {
  z-index: 113;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .shotput-loading-modal {
      svg {
        width: 100%;
      }
  }
}

.shotput-editor-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
}

.shotput-editor-toolbar {
  text-align: center;
  z-index: 113;
  background-color: white;
  position: absolute;
  bottom: 0;
  display:inline-block;
  padding: 1em;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .shotput-editor-toolbar-top {
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
    .shotput-sub-tools {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          padding-right: 1em;
          padding-left: 1em;
          border-right: 1px solid gray;
          cursor: pointer;
          &:last-child {
            padding-right: 0;
            border-right: none;
          }
          &:first-child {
            padding-left: 0;
          }
          &.shotput-disabled {
            cursor: inherit;
            opacity: .8;
          }
          &.shotput-active {
            font-weight: bolder;
          }
        }
      }
    }
  }

  .shotput-editor-toolbar-body {
    padding-top: 1em;
    padding-bottom: 1em;

    ul.shotput-editor-tools {
      list-style: none;
      padding: 0;
      margin: 0;
      display: block;

      li {
        display: inline-block;
        padding-right: 1em;
        padding-left: 1em;
        border-right: 1px solid gray;
        cursor: pointer;
        &.active {
          font-weight: bold;
        }

        &:last-child {
          padding-right: 0;
          border-right: none;
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }

    ul.shotput-editor-colors {
      list-style: none;
      margin-top: .5em;
      margin-bottom: .5em;
      padding: 0;
      display: block;

      li {
        display: inline-block;
        padding-right: 1em;
        padding-left: 1em;
        border-right: 1px solid gray;
        cursor: pointer;

        &:last-child {
          padding-right: 0;
          border-right: none;
        }
        &:first-child {
          padding-left: 0;
        }

        .shotput-list-color-block {
          width: 1.5em;
          height: 1.5em;
          display: inline-block;
          border: 1px dotted black;
          &.active {
            width: 2em;
            height: 2em;
          }
        }
      }
    }

    &.active {
      width: 2em;
      height: 2em;
    }
    .shotput-editor-comment-container {
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid gray;
      textarea {
        width:100%;
        resize: none;
      }
    }
  }

  .shotput-editor-toolbar-bottom {

    .shotput-editor-button {
      padding: .5em;
      display: inline-block;
      border-radius: 5px;
      border: 1px solid;
      font-weight: bold;
      cursor: pointer;

      &.cancel-button {
        border-color: black;
        background-color: gainsboro;
        color: black;
        margin-right: 1em;
      }

      &.submit-button {
        border-color: #2C9E36;
        color: #2C9E36;
        background-color: #D0EFB1;
      }
    }
  }
}

#shotput-canvas-container {
  position:absolute;
  z-index: 112;
  width: 100%;
  height: 100%;
}

.shotput-modal-box {
  background: white;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  z-index: 113;
  position: fixed;
  text-align: center;

  .shotput-poster-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;


    li {
      display: inline-block;
      cursor: pointer;
      padding-left: 1em;
      padding-right: 1em;
      border-right: 1px solid gray;
      &:last-child {
        padding-right: 0;
        border-right: none;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .shotput-bottom-buttons {

    text-align: right;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid black;
    width: 100%;
    display:block;

    .shotput-bottom-button {
      display: inline-block;
      padding: .5em 1em;
      border: 1px solid black;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.shotput-label {
  font-weight: bolder;
}

.shotput-field-container {
  margin-bottom: 1em;
}

.shotput-field-error {
  color: red;
}

.shotput-left-align {
  text-align: left;
}

